<nav class="navbar navbar-dark bg-primary mb-5">
    <a class="navbar-brand" href="JavaScript:void(0);" routerLink="/dashboard">
        <img src="../../../assets/images/logo3.png" width="30" height="30" class="d-inline-block align-top"
            alt="">
        Myproject
    </a>
    <div class="navbar-expand mr-auto">
        <div class="navbar-nav">
            <a class="nav-item nav-link " routerLink="/dashboard" >Dashboard</a>
            <a class="nav-item nav-link " routerLink="/menu1">Menu1</a>
            <a class="nav-item nav-link" routerLink="/menu2">Menu2</a>
        </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
        <div class="navbar-nav">

            <a class="nav-item nav-link">
                <i class="fa fa-user"></i>
            </a>
            <a class="nav-item nav-link" routerLink="/login">
                <i class="fa fa-sign-out"></i>
            </a>


        </div>
    </div>
</nav>